// Import Bootstrap scss partials individually
@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/root";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/images";
@import "vendor/bootstrap/code";
@import "vendor/bootstrap/grid";
@import "vendor/bootstrap/tables";
@import "vendor/bootstrap/forms";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/transitions";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/button-group";
@import "vendor/bootstrap/input-group";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/navbar";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/breadcrumb";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/jumbotron";
@import "vendor/bootstrap/alert";
@import "vendor/bootstrap/progress";
@import "vendor/bootstrap/media";
@import "vendor/bootstrap/list-group";
@import "vendor/bootstrap/close";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/tooltip";
@import "vendor/bootstrap/popover";
@import "vendor/bootstrap/carousel";
@import "vendor/bootstrap/utilities";
@import "vendor/bootstrap/print";

// Import custom project scss partials here
@import "project/example";

/*GLOBAL STYLES*/

html {
    
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: black;
    width: 100%;
  }

  main {
    padding-top: 70px;
}

section {
    margin: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
}

  
  a {
    color: #000;
  }

  /*END STYLES*/


  /* MOBILE STYLES */

  
  /*HEADER STYLES*/
  
  .header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header img {
      width: 200px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    float: right;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  /*END HEADER STYLES*/

  /*HERO AREA STYLES*/

  #hero-container {
      color: #fff;
      background-color: #000;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    width: 60%;
  }

  #hero-text h1 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding: 10px;
  }


/* TABLET STYLES */
  

  @media only screen and (min-width: 768px) {

    /* header */

    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  
    /* Hero Area */

    #hero-text {
        width: 50%;
    }  
    
    #hero-container {
        background: url('../../img/hero.png');
        background-size: cover;
      }

  }


  /* DESKTOP STYLES */

    @media only screen and (min-width: 1200px) {
    
    #hero-container {
        height: 500px;
    }    

    #hero-text {
        width: 25%;
        border: 2px solid #fff;
    }

  }

  

  