// Import Bootstrap scss partials individually
@import "vendor/bootstrap/functions";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/root";
@import "vendor/bootstrap/reboot";
@import "vendor/bootstrap/type";
@import "vendor/bootstrap/images";
@import "vendor/bootstrap/code";
@import "vendor/bootstrap/grid";
@import "vendor/bootstrap/tables";
@import "vendor/bootstrap/forms";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/transitions";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/button-group";
@import "vendor/bootstrap/input-group";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/navbar";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/breadcrumb";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/jumbotron";
@import "vendor/bootstrap/alert";
@import "vendor/bootstrap/progress";
@import "vendor/bootstrap/media";
@import "vendor/bootstrap/list-group";
@import "vendor/bootstrap/close";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/tooltip";
@import "vendor/bootstrap/popover";
@import "vendor/bootstrap/carousel";
@import "vendor/bootstrap/utilities";
@import "vendor/bootstrap/print";

// Import custom project scss partials here
@import "project/example";

/* ------GLOBAL STYLES------- */

html {
    
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: black;
    width: 100%;
    font-size: 16px;
  }

  main {
    padding-top: 65px;
}

section {
    margin: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
}

  
  a {
    color: #000;
  }

  a:hover {
      text-decoration: none;
  }

  iframe {
      width: 100%;
  }

  img {
      width: 100%;
  }

  /* ------END GLOBAL STYLES------*/


  /* ------MOBILE STYLES------- */

  
  /*HEADER STYLES*/
  
  .header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header img {
      width: 200px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    float: right;
    padding-top: 3px;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    margin: 7px 0px 0px 0px;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  


  /*HERO AREA STYLES*/

  #hero-container {
      color: #fff;
      background-color: #000;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fff;
    width: 60%;
  }

  #hero-text h1 {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding: 10px;
  }

  

  /*STEPS STYLES*/

#steps-section {
      display: flex;
      justify-content: center;
      align-items: center;
}

#steps-section h1, h3, h4, span, a {
    font-weight: bold;
    
}

#steps-section h1, h3, h4, p a {
    margin-bottom: 25px;
}

#steps-section h1 {
    font-size: 120px;
}

#steps-section a {
    color: #028740;
}

#call-out h3 {
    font-size: 1.8em;
}

#call-out p {
    font-size: 1.2em;
}

#final-step p {
    padding-bottom: 25px;
}

#steps-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;
    padding: 50px 0px;
}

#learn-more-button p {
    border: 3px solid #028740;
    padding: 12px 40px 12px 40px;
    border-radius: 50px;
    margin-right: 10px;
}

#view-plans-button p {
    color: #fff;
    padding: 12px 40px 12px 40px;
    border-radius: 50px;
    background-color: #d81118;
}

  /*GET STARTED STYLES*/

 #get-started-section {
     background-color: #f5f4f2;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 #get-started-container {
     width: 90%;
     padding: 50px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 #get-started-img-div {
     margin-bottom: 25px; 
 }

 #get-started-text p {
     margin-bottom: 25px;
 }

 #get-started-button p {
    color: #028740;
    border: 3px solid #028740;
    padding: 12px 40px 12px 40px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
 }

 /*TESTIMONIAL STYLES*/

 #testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
 }

 #testimonial-container {
    width: 90%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
 }

 #testimonial-text {
     margin-bottom: 25px;
 }


 #testimonial-video-div iframe{
     height: 100%;
 }

 #read-more-button p {
    color: #028740;
    border: 3px solid #028740;
    padding: 12px 40px 12px 40px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    margin-top: 25px;
 }

 /*EVENTS STYLES*/

 #events-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    background-color: #028740;
    color: #fff;
 }

 #events-container {
    width: 90%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 #events-container h3 {
     margin-bottom: 50px;
 }

 .calendar-row {
     display: grid;
     grid-template-columns: 2fr 8fr;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     margin-bottom: 25px;
 }

 .date {
     border: 2px solid #fff;
     border-radius: 20%;
 }

 .date p {
     margin: 0;
     text-align: center;
 }

 .event-title h4 {
     margin: 0 0 0 25px;
 }

 .time, .location {
     margin-left: 25px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     flex-direction: row;
 }

 .time i, .location i {
     margin-right: 10px;
 }

 .time p, .location p {
     margin: 0;
 }

 #more-events-button p {
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 40px 12px 40px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    margin-top: 25px;
 }

 /*FAQ STYLES*/

#faq-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    background-color: #f5f4f2;
 }

 #faq-container {
    width: 90%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 #faq-container h3 {
     text-align: center;
 }

 #faq-container p {
     color: #028740;
 }

 /*FOOTER STYLES*/

 /*Social Section*/


 #social-section {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #028740;
    color: #fff;
 }

 #social-section a {
     color: #fff;
 }

 .social-div {
     width: 90%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     padding-bottom: 40px;
 }

 .social-div h5 {
     font-weight: bold;
     margin-bottom: 30px;
 }

 .social-div span {
     text-decoration: underline;
 }

 #social-border-div {
     border-top: 1px solid #409c68;
     border-bottom: 1px solid #409c68;
     padding: 40px 0;
 }

 #social-border-div input {
     padding: 15px 10px;
     border-radius: 5%;
 }

 #email-submit-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 #follow-div {
     padding-top: 40px;
 }

 #submit-button p {
    color: #fff;
    border: 3px solid #fff;
    padding: 12px 20px 12px 20px;
    border-radius: 50px;
    width: 150px;
    text-align: center;
    margin-top: 25px;
 }

 #social-icons {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
 }

 .fab {
     color: #028740;
     background-color: #fff;
     padding: 10px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     font-size: 1.5em;
     text-align: center;
 }

 .fa-facebook-f, .fa-youtube, .fa-twitter, .fa-instagram, .fa-linkedin-in {
     padding-top: 12px;
     margin: 0px 5px;
     text-align: center;
 }

 /*About*/

 #about-section {
     width: 100%;
     padding: 0px 0px 50px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-bottom: 1px solid #b3acb0;
 }

 .about-div {
     text-align:center;
     margin-top: 40px;
 }

 .about-div h5, p {
     margin-bottom: 30px;
 }

 .about-div img {
     width: 60%;
 }

 .about-div h5 {
     font-weight: bold;
 }

 .about-div p {
     font-weight: normal;
     color: #028740
 }

/*Copywrite Styles*/

#copywright-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.copywrite-div {
    width: 100%;
    text-align: center;
}

#terms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 50px 0 20px 0; 
}

#terms p {
    margin: 0 10px; 
    font-weight: normal;
}

#terms span {
    font-weight: normal;
    text-decoration: underline;
    color: #028740
}

#questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#questions p {
    color: #fff;
    background-color: #028740;
    padding: 12px 20px 12px 20px;
    border-radius: 50px;
    width: 200px;
}

#questions span {
    color: #028740;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


/* -----END MOBILE STYLES----- */


/* ------TABLET STYLES------ */
  

  @media only screen and (min-width: 768px) {

  
    /* Hero Area */

    #hero-text {
        width: 50%;
    }  
    
    #hero-container {
        background: url('../../img/hero.png');
        background-size: cover;
      }

    /* Steps */

    #call-out {
        width: 80%;
    }

    #steps-wrapper {
        display: grid;
        grid-template-columns: 5fr 5fr;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        margin: 25px 0px 50px 0px;
    }

    .step {
        padding: 25px;
    }
    
    #call-out-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    #step1, #step3 {
        border-right: 1px solid #dadad3;
    }

    #step3, #final-step {
        border-top: 1px solid #dadad3;
    }

    /* Get Started */

    #get-started-container {
        display: grid;
        grid-template-columns: 5fr 5fr;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }


    #get-started-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 25px;
    }

    /* Testimonial  */

    #testimonial-container {
        display: grid;
        grid-template-columns: 5fr 5fr;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #testimonial-text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin: 25px;
    }

    #testimonial-video-div {
        height: 60%;
    }

    /*---FOOTER---*/

    /*Social*/

    #email-submit-div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    #email-submit-div input {
        margin-right: 10px;
    }

    /*About*/

    #about-section {
        display: grid;
        grid-template-columns: 25fr 25fr 25fr 25fr;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
    }

    .about-div {
        margin: 0;
        height: 100%;
        text-align: left;
    }


    #about-img-div {
        text-align: center;
    }

    /*Copywrite*/

    #copywrite-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 30px 0;
        width: 100%;
    }

    #terms.copywrite-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-left: 70px;
    }

    #questions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        margin-right: 20px;
    }

    .copywrite-div, #terms {
        margin: 0;
    }

    #questions p {
        margin: 0;
    }

    



  }


  /* -------END TABLET STYLES------ */

  /* -------DESKTOP STYLES------- */

    @media only screen and (min-width: 1200px) {

    /* header */

    .header li {
        float: left;
      }

    .header li a {
        padding: 20px 30px;
      }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }

    .header .menu-icon {
        display: none;
      }

     /* Hero */ 
    
    #hero-container {
        height: 500px;
    }    

    #hero-text {
        width: 25%;
        border: 2px solid #fff;
    }

    /* Steps */

    #call-out {
        width: 70%;
    }

    .step {
        padding: 50px;
    }

    /* Get Started */

    #get-started-img-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #get-started-img-div img {
        height: 80%;
        width: 80%;
    }

    #get-started-text h3 {
        font-size: 1.8em;
    }

    #get-started-text p {
        font-size: 1.2em;
    }

    #get-started-button p {
        width: 225px;
    }

    /*Testimonial*/

    #testimonial-text h3 {
        font-size: 1.8em;
    }

    #testimonial-text p {
        font-size: 1.2em;
    }

    #read-more-button p {
        width: 225px;
    }

    #testimonial-video-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #testimonial-video-div iframe {
        height: 100%;
    }

    /*Events*/

    #calendar-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    .date p {
        padding: 0px 10px;
    }

    /*FAQ*/

    #faq-container {
        padding: 70px 0;
    }

    /*Social*/

    #social-section {
        display: grid;
        grid-template-columns: 30fr 30fr 30fr;
        width: 100%;
    }

    .social-div {
        text-align: center;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    #social-border-div, #follow-div {
        padding: 0;
        margin: 0;
        height: 100%;
    }

    #social-border-div {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #409c68;
        border-right: 1px solid #409c68;
    }

    #email-submit-div input {
        margin: 0px 10px;
    }

    #email-submit-div p {
        margin: 0;
    }


  }

  /* -------END DESKTOP STYLES------ */

  

  